@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);


  --foreground: #010225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c0edff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.bubbles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  bottom: -50px;
  width: 40px;
  height: 40px;
  /* background-color: rgba(14, 191, 245, 0.582); */
  background: radial-gradient(closest-side, #01c4ff5b, #01c4ff7e, #01c4ff79, #01c4ffc7);
  border-radius: 50%;
  animation: float 7s infinite;
  animation-timing-function: ease-in-out;
}

/* Animación */
@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-500px) scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-1000px) scale(1);
    opacity: 0;
  }
}

/* Estilos para variar el tamaño y la posición de las burbujas */
.bubble:nth-child(1) {
  left: 10%;
  width: 30px;
  height: 30px;
  animation-duration: 12s;
}

.bubble:nth-child(2) {
  left: 25%;
  width: 50px;
  height: 50px;
  animation-duration: 15s;
  animation-delay: 2s;
}

.bubble:nth-child(3) {
  left: 50%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
  animation-delay: 4s;
}

.bubble:nth-child(4) {
  left: 70%;
  width: 35px;
  height: 35px;
  animation-duration: 14s;
  animation-delay: 6s;
}

.bubble:nth-child(5) {
  left: 90%;
  width: 25px;
  height: 25px;
  animation-duration: 13s;
  animation-delay: 3s;
}

.img-luminosa{
  filter: drop-shadow(0 0 7px rgba(131, 253, 253, 0.973))
}




